<section class="dashboard dashboard--full-width">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Admin dashboard</h3>
    <h1 class="content__subtitle">Withdrawal</h1>

    <table class="admin-table">
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Amount</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>

      <% @withdrawals.each do |withdrawal| %>
        <tr>
          <td><%= withdrawal.id %></td>
          <td><%= withdrawal.user_id %></td>
          <td>&euro; <%= withdrawal.amount %></td>
          <td><%= withdrawal.created_at.strftime("%d %b. %Y, %H:%M") %></td>
          <td>
            <% if withdrawal.status == 0 %>
              <%= form_for withdrawal, url: withdrawal_path(withdrawal.id) do |f| %>
                <%= f.hidden_field :status, value: 1 %>
                <%= f.submit "Complete", class: "button button--gradient actions__button", data: { confirm: "Are you sure you want to confirm #{withdrawal.id} for €#{withdrawal.amount}" } %>
              <% end %>
            <% else %>
              Complete
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
