<section class="dashboard">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h1>Admin Dashboard</h1>

    <h3>Posts</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>User</th>
          <th>Title</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.status %></td>
            <td><%= post.user_name %> <i>(<%= post.user_id %>)</i></td>
            <td><strong><%= post.title %></strong></td>
            <td><%= post.created_at.strftime("%d %b. %Y, %H:%M") %></td>
            <td style="display: flex; flex-direction: column;">
              <%= button_to "View Post", post, method: :get %>

              <% if post.status == 0 %>
                <%= form_for post do |f| %>
                  <%= f.hidden_field :status, value: 1 %>
                  <%= f.submit "Approve Post" %>
                <% end %>
              <% end %>

              <%= button_to "Decline Post", post, method: :get %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
