<section class="dashboard">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Admin dashboard</h3>
    <h1 class="content__subtitle">Users</h1>

    <div class="table content__subject">
      <div class="table__list table__list--col5 table__list--users">
        <div class="table__item">ID</div>
        <div class="table__item">Level</div>
        <div class="table__item">Name</div>
        <div class="table__item">Email</div>
        <div class="table__item">Created at</div>
      </div>
      <% @users.each do |user| %>
        <div class="table__list table__list--users">
          <div class="table__item"><%= user.id %></div>
          <div class="table__item"><%= user.level %></div>
          <div class="table__item"><%= user.name %></div>
          <div class="table__item"><%= user.email %></div>
          <div class="table__item"><%= user.created_at.strftime("%d %b. %Y, %H:%M") %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>
