<section class="dashboard dashboard--full-width">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Admin dashboard</h3>
    <h1 class="content__subtitle">Orders</h1>

    <div class="table content__subject">
      <div class="table__list table__list--col6 table__list--order">
        <div class="table__item">ID</div>
        <div class="table__item">User</div>
        <div class="table__item">Amount</div>
        <div class="table__item">Customer</div>
        <div class="table__item">Type</div>
        <div class="table__item">Created at</div>
      </div>
      <% @orders.each do |order| %>
        <div class="table__list table__list--col6 table__list--order">
          <div class="table__item"><%= order.id %></div>
          <div class="table__item"><%= order.user_id %></div>
          <div class="table__item">&euro; <%= order.amount %></div>
          <div class="table__item"><%= order.customer_id %></div>
          <div class="table__item"><%= order.payment_type %></div>
          <div class="table__item"><%= order.created_at.strftime("%d %b. %Y, %H:%M") %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>
