<section class="dashboard">
  <%= render "dashboard/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Earnings</h3>
    <h1 class="content__subtitle">&euro; <%= @on_account %> on Account</h1>

    <% if @current_withdrawal %>
      <p>You have a withdrawal currently pending for <strong>&euro;<%= @current_withdrawal.amount %></strong>. Once this withdrawal is complete, you can request another withdrawal.</p>
    <% elsif @on_account >= 20 %>
      <% if current_user.paypal_address %>
        <%= link_to "withdrawal", "javascript:void(0)", class: "button button--ghost content__button" %>
      <% else %>
        Please add a Paypal address in your <%= link_to "Account settings", user_settings_path %> to Withdrawal your earnings
      <% end %>
    <% else %>
      <p>You need a minimum of &euro;20 to request a withdrawal</p>
    <% end %>

    <h2>You receive <strong><%= (current_user.cut_percentage.to_f * 100).round %>%</strong> from all sales you make.</h2>

    <div class="content__subject">
      <div class="content__earning">
        <h3 class="earning__title">Current Balance</h3>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @on_account %></span>
          <span class="earning__label">On account</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @paid_out %></span>
          <span class="earning__label">Paid out</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @pending %></span>
          <span class="earning__label">Pending <small>(14 days)</small></span>
        </div>
        <% if @current_withdrawal %>
          <div class="earning__box">
            <i class="earning__icon material-icons">assignment_ind</i>
            <span class="earning__total">&euro; <%= @current_withdrawal.amount %></span>
            <span class="earning__label">Pending Withdrawal Request</span>
          </div>
        <% end %>
      </div>

      <% if @succesful_orders %>
        <h2>Your sales</h2>

        <div class="table">
          <div class="table__list table__list--col5 table__list--earnings">
            <div class="table__item table__item--desktop">Date</div>
            <div class="table__item">Title</div>
            <div class="table__item">Amount</div>
          </div>

          <% @succesful_orders.each do |succesful_order| %>
            <div class="table__list table__list--earnings">
              <div class="table__item table__item--desktop"><%= succesful_order.created_at.strftime("%b %d, %Y") %></div>
              <div class="table__item"><strong><%= succesful_order.description %></strong> has been purchased <%= succesful_order.created_at < 2.weeks.ago ? "" : "(Pending)" %></div>
              <div class="table__item <%= succesful_order.created_at < 2.weeks.ago ? "table__item--plus" : "table__item--pending" %>">&euro;<%= succesful_order.author_cut %></div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @nano_orders %>
        <div>
          <hr>
          <h3>Nano Sales</h3>

          <p>
            Nano orders are paid out instantly to the Nano Address connected to your account. You receive 100% of the sales made with Nano.
          </p>
        </div>

        <div class="table">
          <div class="table__list table__list--col5 table__list--earnings">
            <div class="table__item table__item--desktop">Date</div>
            <div class="table__item">Title</div>
            <div class="table__item">Amount</div>
          </div>

          <% @nano_orders.each do |nano_order| %>
            <div class="table__list table__list--earnings">
              <div class="table__item table__item--desktop"><%= nano_order.created_at.strftime("%b %d, %Y") %></div>
              <div class="table__item"><strong><%= nano_order.description %></strong> has been purchased</div>
              <div class="table__item">&euro;<%= nano_order.author_cut %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% if !@current_withdrawal %>
  <section class="popup">
    <div class="popup__content">
      <h2>Withdrawals</h2>
      <p>You are about to transfer <strong>&euro; <%= @on_account %></strong> to your paypal account: <strong><%= current_user.paypal_address %></strong></p>
      <div class="popup__actions">
        <a href="javascript:void(0)" class="button button--grey actions__button popup__close">Cancel</a>

        <%= form_for :withdrawal, url: withdrawals_path do |f| %>
          <%= f.hidden_field :author_cut, value: @on_account %>
          <%= f.submit "Withdrawal", class: "button button--gradient actions__button" %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
