<section class="dashboard">
  <%= render "dashboard/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Earnings</h3>
    <h1 class="content__subtitle">&euro; <%= @on_account %> on Account</h1>

    <% if @current_widthdrawl %>
      <p>You have a widthdrawl currently pending for <strong>&euro;<%= @current_widthdrawl.amount %></strong>. Once this widthdrawl is complete, you can request another widthdrawl.</p>
    <% elsif @on_account >= 20 %>
      <%= link_to "widthdrawl", "javascript:void(0)", class: "button button--ghost content__button" %>
    <% else %>
      <p>You need a minimum of &euro;20 to request a widthdrawl</p>
    <% end %>

    <div class="content__subject">
      <div class="content__earning">
        <h3 class="earning__title">Current Balance</h3>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @on_account %></span>
          <span class="earning__label">On account</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @paid_out %></span>
          <span class="earning__label">Paid out</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @pending %></span>
          <span class="earning__label">Pending</span>
        </div>
      </div>

      <div class="table table--spacing">
        <div class="table__list table__list--col5 table__list--earnings">
          <div class="table__item table__item--desktop">Date</div>
          <div class="table__item">Title</div>
          <div class="table__item">Amount</div>
        </div>
        <div class="table__list table__list--earnings">
          <div class="table__item table__item--desktop">11 Sep. 2017</div>
          <div class="table__item">Dit is een titel van een bericht</div>
          <div class="table__item table__item--plus">+ &euro; 25</div>
        </div>
        <div class="table__list table__list--earnings">
          <div class="table__item table__item--desktop">11 Sep. 2017</div>
          <div class="table__item">Money transferd to paypal</div>
          <div class="table__item table__item--min">- &euro; 45</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popup">
  <div class="popup__content">
    <h2>Withdrawal</h2>
    <p>You are about to transfer <strong>&euro; <%= @on_account %></strong> to your paypal account: <strong>paypal@paypal.com</strong></p>
    <div class="popup__actions">
      <a href="javascript:void(0)" class="button button--grey actions__button popup__close">Cancel</a>

      <% if false %> <!-- TODO FIXME -->
        <%= form_for :widthdrawl, url: {controller: "widthdrawls", action: "create"} do |f| %>
          <%= f.hidden_field :amount, value: @on_account %>
          <%= f.submit "widthdrawl", class: "button button--gradient actions__button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
