<section class="dashboard dashboard--full-width">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Admin dashboard</h3>
    <h1 class="content__subtitle">Posts</h1>

    <div class="table content__subject">
      <div class="table__list table__list--col7 table__list--posts">
        <div class="table__item">ID</div>
        <div class="table__item">PID</div>
        <div class="table__item">Stat</div>
        <div class="table__item">User</div>
        <div class="table__item">Title</div>
        <div class="table__item">Created at</div>
        <div class="table__item">Actions</div>
      </div>
      <% @posts.each do |post| %>
        <div class="table__list table__list--col7">
          <div class="table__item"><%= post.id %></div>
          <div class="table__item" style="white-space: inherit; word-break: break-word"><%= link_to post.parent_id, admin_post_path(post.parent_id) %></strong></div>
          <div class="table__item"><%= post.status %></div>
          <div class="table__item"><%= post.user_name %> <i>(<%= link_to post.user_id, admin_user_path(post.user_id) %>)</i></div>
          <div class="table__item"><%= post.title %></div>
          <div class="table__item"><%= post.created_at.strftime("%d %b. %Y, %H:%M") %></div>
          <div class="table__item table__item--actions">
            <%= button_to "View", post_path(post.nice_url), method: :get %>

            <% if post.status == 0 %>
              <%= form_for post, url: post_path(post.id) do |f| %>
                <%= f.hidden_field :status, value: 1 %>
                <%= f.submit "Approve" %>
              <% end %>
            <% end %>

            <%= button_tag "Decline" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
