<section class="dashboard dashboard--full-width">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Admin dashboard</h3>
    <h1 class="content__subtitle">Posts with Parent ID <strong><%= params[:id] %></strong></h1>

    <%= link_to "Back to all posts", admin_posts_path %>

    <table class="admin-table">
      <tr>
        <th>ID</th>
        <th>Stat</th>
        <th>User</th>
        <th>Title</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td>
            <%= post.status %><br>

            <%= if post.status == 0
                "Pending"
              elsif post.status == 1
                "Approved"
              elsif post.status == 2
                "Declined"
              end %>
          </td>
          <td><%= post.user_name %> <i>(<%= link_to post.user_id, admin_user_path(post.user_id) %>)</i></td>
          <td><%= post.title %></td>
          <td><%= post.created_at.strftime("%d %b. %Y, %H:%M") %></td>
          <td>
            <%= button_to "View", post_path(post.nice_url), method: :get %>

            <% if post.status == 0 %>
              <%= form_for post, url: post_path(post.id) do |f| %>
                <%= f.hidden_field :status, value: 1 %>
                <%= f.submit "Approve" %>
              <% end %>


              <div class="dropdown" data-role="dropdown">
                <%= link_to "Decline", "#", data: { role: "toggle-dropdown" } %>

                <div class="dropdown__content dropdown__content--centered">
                  <% if post.status == 0 %>
                    <%= form_for :declined_post, url: declined_posts_path do |f| %>
                      <%= f.hidden_field :post_id, value: post.id %>
                      <%= f.text_area :description, rows: 10, style: "width: 100%" %><br>
                      <%= f.submit "Decline", class: "button button--white" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
