<%= form_for @post, html: { class: "",  }, remote: true do |f| %>

  <%= render "errors", post: @post if not @post.nil? and @post.errors.any? %>

  <section class="intro intro--blue intro--content">
  </section>

  <section class="post">
    <div>
      <%= f.text_field :title, class: "form__input", placeholder: "Type your title here" %>
      <%= f.text_field :price, class: "form__input", placeholder: "Price" %>

      <div class="post__article">
        <%= f.submit class: "button button--gradient button--desktop" %>
      </div>

      <aside class="post__aside post__aside--upload">
        <%= f.submit class: "button button--gradient button--mobile" %>
      </aside>
    </div>
  </section>

<% end %>
