<aside class="post__aside">
  <% unless author.deleted? %>
    <div class="accordion" data-role="charge-container">
      <% if current_user && current_user.id == post.user_id || check_user_level("admin") %>
        <% if post.status == 0 && @awaiting_edit.present? %>
          <%= render "posts/accordion", icon: "remove_red_eye", price: "In review", name: post.title do %>
            <span>This post is waiting for approval</span>

            <% if check_user_level("admin") %>
              <%= form_for post, url: post_path(post.id) do |f| %>
                <%= f.hidden_field :status, value: 1 %>
                <%= f.submit "Approve Post", class: "post__button button button--gradient" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% unless @awaiting_edit.present? %>
          <%= render "posts/accordion", icon: "edit", price: "Edit", name: post.title do %>
            <span>Edit your post</span>
            <%= link_to "Edit now", edit_post_path(post.nice_url), class: "post__button button button--gradient" %>
          <% end if current_user && current_user.id == post.user_id %>
        <% end %>
      <% end %>
      <% if @has_ordered %>
        <%= render "posts/accordion", icon: "cloud_download", price: "Download", name: post.title do %>
          <span>You already bought this project.</span>
          <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--gradient" %>
        <% end %>
      <% else %>
        <%= render "posts/accordion", icon: "credit_card", price: "€#{post.price}", name: "Creditcard" do %>
          <% if current_user %>
            <%= render "charges/form_creditcard", post: post %>
          <% else %>
            <span>Login or Register to buy<strong><%= post.title %></strong></span>
            <%= link_to "Login/Register", login_path, class: "post__button button button--gradient" %>
          <% end %>
        <% end unless current_user && current_user.id == post.user_id %>

        <%= render "posts/accordion", icon: image_tag("crypto/nano.svg", width: 36), price: "1.042467654", name: "Nano" do %>
          <% if current_user %>
            <%= render "charges/form_nano", post: post %>
          <% else %>
            <span>Login or Register to buy<strong><%= post.title %></strong></span>
            <%= link_to "Login/Register", login_path, class: "post__button button button--gradient" %>
          <% end %>
        <% end if author.nano_address.present? %>
      <% end unless current_user && current_user.id == post.user_id %>
    </div>
  <% end %>

  <% if author.deleted? && @has_ordered %>
    <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--large button--gradient button--full" %>
  <% end %>
</aside>
