<%= link_to post_path(post.nice_url), target: "_blank", class: "project", data: { image: "/uploads/post/#{post.user_name}/#{post.nice_url}/file.jpg" } do %>
  <div class="project__image" style="background-image: url(/uploads/post/<%= post.user_name %>/<%= post.nice_url %>/file.jpg)"></div>
  <div class="project__gradient"></div>
  <div class="project__content">
    <span class="project__name"><%= post.title %></span>
    <% if post.user_name %>
      <span class="project__author"><%= post.user_name %></span>
    <% end %>
    <span class="project__price">&euro; <%= post.price %></span>
  </div>
<% end %>
