<section class="intro intro--blue intro--content">
  <div class="intro__head">
    <h1 class="intro__title intro__title--small"><%= @post.title %></h1>
    <% if @author.name %>
      <span class="intro__subtitle intro__subtitle--small">
        <% if @author.deleted? %>
          By <%= link_to "[deleted]", "#" %>
        <% else %>
          By <%= link_to @author.name, profile_path(@author.name) %>
        <% end %>
        in <%= link_to @post.categories, post_category_path(@post.categories) %>
        created at <span><%= @post.created_at.strftime("%B %d, %Y") %></span>
      </span>
    <% end %>
  </div>
</section>

<section class="post">
  <article class="post__article">
    <div class="post__image">
      <% if @post.image %>
        <%= image_tag @post.image, class: "image__banner" %>
        <div class="image__thumbnail image__thumbnail--cursor-normal">
          <img src="" class="image__thumb" />
        </div>
      <% end %>
    </div>

    <div class="post__actions post__actions--mobile">
      <div class="actions__buttons">
        <%= link_to "Live Preview", post_preview_path(@post.nice_url), class: "button button--large button--full button--grey" %>

        <% if @has_ordered %>
          <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--large button--gradient button--full" %>
        <% end %>
      </div>
      <span class="actions__title">
        <span>Regular Lisence</span>
        <div class="actions__question">?</div>
      </span>
    </div>

    <main class="post__content">
      <%= markdown(@post.content) %>
    </main>
  </article>

  <aside class="post__aside">
    <%= link_to "Live Preview", post_preview_path(@post.nice_url), class: "button button--large button--gradient" %>

    <% unless @author.deleted? %>
      <div class="accordion" data-role="charge-container">
        <% if current_user && current_user.id == @post.user_id || check_user_level("admin") %>
          <% if @post.status == 0 && @awaiting_edit.present? %>
            <%= render "posts/accordion", icon: "remove_red_eye", price: "In review", name: @post.title do %>
              <span>This post is waiting for approval</span>

              <% if check_user_level("admin") %>
                <%= form_for @post, url: post_path(@post.id) do |f| %>
                  <%= f.hidden_field :status, value: 1 %>
                  <%= f.submit "Approve Post", class: "post__button button button--gradient" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% unless @awaiting_edit.present? %>
            <%= render "posts/accordion", icon: "edit", price: "Edit", name: @post.title do %>
              <span>Edit your post</span>
              <%= link_to "Edit now", edit_post_path(@post.nice_url), class: "post__button button button--gradient" %>
            <% end if current_user && current_user.id == @post.user_id %>
          <% end %>
        <% end %>
        <% if @has_ordered %>
          <%= render "posts/accordion", icon: "cloud_download", price: "Download", name: @post.title do %>
            <span>You already bought this project.</span>
            <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--gradient" %>
          <% end %>
        <% else %>
          <%= render "posts/accordion", icon: "credit_card", price: "€#{@post.price}", name: "Creditcard" do %>
            <% if current_user %>
              <%= render "charges/form_creditcard", post: @post %>
            <% else %>
              <span>Login or Register to buy<strong><%= @post.title %></strong></span>
              <%= link_to "Login/Register", login_path, class: "post__button button button--gradient" %>
            <% end %>
          <% end unless current_user && current_user.id == @post.user_id %>

          <%= render "posts/accordion", icon: image_tag("crypto/nano.svg", width: 36), price: "1.042467654", name: "Nano" do %>
            <% if current_user %>
              <%= render "charges/form_nano", post: @post %>
            <% else %>
              <span>Login or Register to buy<strong><%= @post.title %></strong></span>
              <%= link_to "Login/Register", login_path, class: "post__button button button--gradient" %>
            <% end %>
          <% end if @author.nano_address.present? %>
        <% end unless current_user && current_user.id == @post.user_id %>
      </div>
    <% end %>

    <% if @author.deleted? && @has_ordered %>
      <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--large button--gradient button--full" %>
    <% end %>
  </aside>
</section>

<section class="popup">
  <div class="popup__content">
    <h2>Regular Lisence</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla rutrum sapien vitae malesuada. Suspendisse sed egestas eros. Nulla non iaculis lectus. Morbi convallis malesuada consequat. Pellentesque cursus odio ut </p>
    <p>fermentum tempor. Donec sem massa, convallis id urna in, fermentum accumsan est. Duis ut libero ex. Sed at ex urna. Ut volutpat malesuada orci at hendrerit.</p>
    <div class="popup__actions popup__actions--less">
      <a href="javascript:void(0)" class="button button--grey actions__button popup__close">Close</a>
    </div>
  </div>
</section>
