<section class="intro intro--blue intro--content">
  <div class="intro__head">
    <h1 class="intro__title intro__title--small"><%= @post.title %></h1>
    <% if @author.name %>
      <span class="intro__subtitle intro__subtitle--small">
        By <%= link_to @author.name, profile_path(@author.name) %>
        in <%= link_to @post.categories, post_category_path(@post.categories) %>
        created at <span><%= @post.created_at.strftime("%B %d, %Y") %></span>
      </span>
    <% end %>
  </div>
</section>

<section class="post">
  <article class="post__article">
    <div class="post__image">
      <% if @post.image %>
        <%= image_tag(@post.image) %>
      <% end %>

      <% if current_user %>
        <% if current_user.id == @post.user_id || check_user_level(100) %>
          <% if @post.status != 1 && @awaiting_edit == "" %>
            <div class="note__flash note__flash--post">
              <% if @post.status == 2 %>
                This post has been declined
              <% elsif %>
                This post is waiting for approval
              <% end %>

              <% if check_user_level(100) %>
                <%= form_for @post, url: post_path(@post.id) do |f| %>
                  <%= f.hidden_field :status, value: 1 %>
                  <%= f.submit "Approve Post", class: "button button--white" %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @awaiting_edit != "" %>
            <div class="note__flash note__flash--post">
              <% if @post.status == 2 %>
                This post has been declined
              <% elsif %>
                This post is waiting for approval

                <% if check_user_level(100) %>
                  <%= form_for @post, url: post_path(@post.id) do |f| %>
                    <%= f.hidden_field :status, value: 1 %>
                    <%= f.submit "Approve Post", class: "button button--white" %>
                  <% end %>
                <% end %>
              <% end %>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="post__actions post__actions--mobile">
      <div class="actions__buttons">
        <%= link_to "Live Preview", post_preview_path(@post.nice_url), class: "button button--large button--full button--grey" %>

        <% if @has_ordered %>
          <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--large button--gradient button--full" %>
        <% elsif current_user %>

        <% else %>
          <%= link_to "Add to Cart (€#{@post.price})", login_path, class: "post__button button button--large button--green button--full" %>
        <% end %>
      </div>
      <span class="actions__title">
        <span>Regular Lisence</span>
        <div class="actions__question">?</div>
      </span>
    </div>

    <main class="post__content">
      <%= markdown(@post.content) %>
    </main>
  </article>

  <aside class="post__aside">
    <%= link_to "Live Preview", post_preview_path(@post.nice_url), class: "button button--large button--grey" %>

    <% if @post.status == 1 %>
      <% if @has_ordered %>
        <%= link_to "Download", dashboard_downloads_path, class: "post__button button button--large button--gradient" %>
      <% elsif current_user %>
        <% if @post.user_id != current_user.id %>

          <div class="dropdown" data-role="dropdown">
            <div class="dropdown__content">
              <%= form_for :charge, url: charges_path, html: { class: "form" }, remote: true do |f| %>
                <%= f.hidden_field :post_id, value: @post.id %>

                <div class="form__parent form__parent--full">
                  <%= f.text_field :card_number, class: "form__input credit__card", placeholder: " " %>
                  <%= f.label :card_number, "Card Number", class: "form__label" %>
                </div>

                <div class="form__parent form__parent--four">
                  <%= f.text_field :card_exp_month, class: "form__input", placeholder: " " %>
                  <%= f.label :card_exp_month, "Exp. Month", class: "form__label" %>
                </div>

                <div class="form__parent form__parent--four">
                  <%= f.text_field :card_exp_year, class: "form__input", placeholder: " " %>
                  <%= f.label :card_number, "Exp. Year", class: "form__label" %>
                </div>

                <div class="form__parent form__parent--second">
                  <%= f.text_field :card_cvc, class: "form__input", placeholder: " " %>
                  <%= f.label :card_number, "CVC", class: "form__label" %>
                </div>

                <%= f.submit "Submit", class: "post__button button button--large button--white", data: { role: "remote-submit" } %>
              <% end %>

              <% if @author.nano_address.present? %>
                <hr>

                <div id="nano-button"></div>

                <script>
                  brainblocks.Button.render({
                    payment: {
                      destination: "<%= @author.nano_address %>",
                      currency: "eur",
                      amount: <%= @post.price %> <%= "/ 1000" if Rails.env.development? %> // Divide by 1000 only for testing
                    },

                    onPayment: function(data) {
                      $.ajax({
                        type: "POST",
                        url: "<%= url_for nano_payments_path %>",
                        data: { token: data.token, post_id: <%= @post.id %> }
                      });
                    }
                  }, "#nano-button");
                </script>
              <% end %>
            </div>

            <%= link_to "Purchase", "#", class: "post__button button button--large button--green", data: { role: "toggle-dropdown" } %>
          </div>
        <% elsif @post.status == 1 %>
          <%= link_to "Edit Post", edit_post_path(@post.nice_url), class: "post__button button button--large button--gradient" %>
        <% end %>
      <% else %>
        <%= link_to "Purchase", login_path, class: "post__button button button--large button--green" %>
      <% end %>
    <% elsif @post.status == 2 %>
      <%= link_to "Edit Post", edit_post_path(@post.nice_url), class: "post__button button button--large button--gradient" %>
    <% end %>

    <div class="post__license">
      <span class="post__price">&euro;<%= @post.price %></span>
      <h3 class="license__title">Regular license</h3>
      <p class="lisence__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla rutrum sapien vitae malesuada. Suspendisse sed egestas eros. Nulla non iaculis lectus. Morbi convallis malesuada consequat. Pellentesque cursus odio ut </p>
      <p class="lisence__content">fermentum tempor. Donec sem massa, convallis id urna in, fermentum accumsan est. Duis ut libero ex. Sed at ex urna. Ut volutpat malesuada orci at hendrerit.</p>
    </div>
  </aside>
</section>

<section class="popup">
  <div class="popup__content">
    <h2>Regular Lisence</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla rutrum sapien vitae malesuada. Suspendisse sed egestas eros. Nulla non iaculis lectus. Morbi convallis malesuada consequat. Pellentesque cursus odio ut </p>
    <p>fermentum tempor. Donec sem massa, convallis id urna in, fermentum accumsan est. Duis ut libero ex. Sed at ex urna. Ut volutpat malesuada orci at hendrerit.</p>
    <div class="popup__actions popup__actions--less">
      <a href="javascript:void(0)" class="button button--grey actions__button popup__close">Close</a>
    </div>
  </div>
</section>
