<footer class="footer">
  <div class="footer__item footer__item--column">
    <div class="footer__logo">
      <%= link_to root_path do %>
        <%= image_tag("logoCSSmarket.png", class: "header__logo") %>
      <% end %>
    </div>

    <div class="footer__social">
      <a class="footer__follow footer__follow--facebook" href="https://www.facebook.com/CSSmarket/" target="_blank">
        <%= inline_svg "icons/icon-facebook.svg" %>
      </a>

      <a class="footer__follow footer__follow--twitter" href="https://twitter.com/CSSmarket_net" target="_blank">
        <%= inline_svg "icons/icon-twitter.svg" %>
      </a>

      <a class="footer__follow footer__follow--instagram" href="http://instagram.com/_u/cssmarket" target="_blank">
        <%= inline_svg "icons/icon-instagram.svg" %>
      </a>
    </div>
  </div>

  <div class="footer__links">
    <a class="footer__link" href="#">Privacy Policy</a>
    <a class="footer__link" href="#">Terms and Conditions</a>
    <%= link_to "About", "/about", class: "footer__link" %>
    <%# <%= link_to "Sell", "/sell", class: "footer__link" %>
    <a class="footer__link" href="javascript:void(0)">&copy; <%= Time.current.year %></a>
  </div>
</footer>
