<!DOCTYPE html>
<html>
  <head>
    <title>CSSmarket</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-TileColor" content="#1e213d">
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
    <meta name="theme-color" content="#1e213d">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/favicon" %>
  </head>

  <body>
    <%= render "cookies_eu/consent_banner", link: page_path("cookies") %>

    <% if flash[:global_message] %>
      <div class="alert" data-role="alert">
        <div class="alert__content">
          <span><%= flash[:global_message] %></span>
          <%= button_tag "close", class: "alert__close material-icons", data: { role: "alert-close" } %>
        </div>
      </div>
    <% end %>

    <% if @post %>
      <% id = @post.nice_url ? @post.nice_url : 0 %>
    <% else %>
      <% id = 0 %>
    <% end %>

    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
